body {
	background: #2b4c8d;
	font-size: 20px;
}

//-------Nav-----------------------------------------//
#menu {
	.navbar {
		background: #2b4c8d;
		opacity: 0.7;
	}
	.nav {
		background: #2b4c8d;
		opacity: 0.9;
		font-size: 1em;
		a {
			color: white;
			padding: auto 10px;
			text-transform: capitalize;
			&:hover {
				color: #c9787b;
			}
		}
	}
	.navbar-header {
		padding: 2px 20px;
		.navbar-brand {
			color: white;
		}
	}
}

//-------//Nav---------------------------------------//
//-----------Header----------------------------------//
.jumbotron {
	background: url('/images/macbook-606763_1920.jpg');
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	margin-bottom: 0;
	.napis {
		padding: 12%
	}
	h1,
	p,
	span,
	a {
		text-shadow: 0 0 40px black;
		color: white;
		span {
			font-size: 2em
		}
	}
	h1 {
		font-size: 4em;
	}
	p {
		font-size: 2em;
	}
}

//------------//Header------------------------//
//------------------------------About me------------------------------//
#aboutMe {
	padding: 50px;
	.row {
		.opiss {
			p {
				font-size: 1em;
				color: white;
				text-align: center;
				padding: 20px;
			}
		}
		.foto {
			img {
				width: 70%;
				height: auto;
				margin: 0 15%;
				margin-bottom: 10%;
			}
		}
	}
}

//-----------------//About me------------------------------//
//--------------------------------Skills------------------------//
#skills {
	background: url("/images/purse-1478852_1920.jpg");
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	padding: 50px;
	.container-fluid {
		opacity: 0.9;
		background: #2b4c8d;
		border-radius: 10px;
		.row {
			h4 {
				font-size: 1em;
				padding: 20px 20px;
				color: white;
				display: inline-block;
				margin-bottom: 20px;
			}
			img {
				width: 150px;
				height: 150px;
				margin: 10px;
				transform: scale(1, 1);
				transition-timing-function: ease-out;
				transition-duration: 250ms;
				-webkit-transform: scale(1, 1);
				-webkit-transition-timing-function: ease-out;
				-webkit-transition-duration: 250ms;
				-moz-transform: scale(1, 1);
				-moz-transition-timing-function: ease-out;
				-moz-transition-duration: 250ms;
			}
			img:hover {
				transform: scale(1.1, 1.12);
				transition-timing-function: ease-out;
				transition-duration: 250ms;
				-webkit-transform: scale(1.1, 1.12);
				-webkit-transition-timing-function: ease-out;
				-webkit-transition-duration: 250ms;
				-moz-transform: scale(1.1, 1.12);
				-moz-transition-timing-function: ease-out;
				-moz-transition-duration: 250ms;
				//    position: relative;
				z-index: 99;
			}
		}
	}
}

//-----------------------Skills------------------------//
//------------------MyWork -------------------------------/
#myWork {
	background: #2b4c8d;
	padding: 50px;
	#pic1 {
		background: url(/images/computer-767781_1920.jpg);
		background-size: cover;
	}
	#pic2 {
		background: url(/images/macbook-606763_1920.jpg);
		background-size: cover;
	}
	#pic3 {
		background: url(/images/rece577758_1920.jpg);
		background-size: cover;
	}
	#pic4 {
		background: url(/images/1486869414_sass_icon.png);
		background-size: cover;
	}
	#pic5 {
		background: url(/images/computer-767781_1920.jpg);
		background-size: cover;
	}
	#pic6 {
		background: url(/images/macbook-606763_1920.jpg);
		background-size: cover;
	}
	.project {
		background: url(/images/rece577758_1920.jpg);
		background-size: cover;
		width: 350px;
		height: 300px;
		margin: 10px auto;
		border-radius: 5px;
		.text2 {
			width: 350px;
			height: 300px;
			background: black;
			opacity: 0;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}
		a {
			color: white;
			font-size: 1em;
			text-decoration: none;
			border: 1px solid white;
			&:hover {
				background: #6f6b6b;
				color: white;
			}
		}
		&:hover {
			.text2 {
				transition: opacity 0.5s;
				opacity: 0.7;
			}
		}
	}
}

//------------------//MyWork -------------------------------/
//-------------------Contact-----------------------------------//
#contact {
	text-align: center;
	background: url('/images/computer-767781_1920.jpg');
	background-size: cover;
	background-attachment: fixed;
	padding: 50px;
	.container {
		background: #2b4c8d;
		opacity: 0.9;
		border-radius: 10px;
		p {
			color: white;
			text-align: center;
			font-size: 1em;
		}
		.line2 {
			opacity: 0;
			width: 50%;
			border-bottom: 3px solid white;
		}
	}
}

//-------------------//Contact---------------------------------//
//----------------------------footer---------------------------//
#footer {
	padding: 5px 0;
	background: #09102a;
	color: white;
}

//----------------------------//footer---------------------------//
//----------------------Others-----------------------------------//
.hrPlus {
	border-bottom: 3px solid white;
	margin: 20px auto 100px auto;
	width: 50%;
	text-align: center;
}

.wells {
	text-align: center;
	font-size: 2.2em;
	color: white;
	margin-top: 50px;
	text-shadow: 0 0 20px black;
}

.hidee {
	opacity: 0;
}

.showw {
	opacity: 1;
}

//----------------------//Others-----------------------------------//
@media (max-width:768px) {
	body {
		font-size: 18px;
	}
	#aboutMe {
		padding: 10px;
	}
	#skills {
		padding: 30px;
		.container-fluid {
			.row {
				img {
					width: 100px;
					height: 100px;
					margin: 5px;
				}
			}
		}
	}
	#myWork {
		padding: 5px;
		margin: 0 auto;
		.row {
			.project {
				width: 300px;
			}
		}
	}
	#contact {
		padding: 20px;
		.line2 {
			opacity: 1;
		}
	}
	.hrPlus {
		margin: 20px auto 50px auto;
	}
}